*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
html{
    scroll-behavior: smooth;
}
.container{
    background-color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.card {
    background-color: #222;
    color: white;
    padding: 1rem;
    max-height: 80vh; /* Set a maximum height */
    width: 100%;
    max-width: 50%; /* Set a max-width for responsiveness */
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
    border-radius: 0.6rem;
}
.card-title{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
input{
    border: none;
    border-radius: 0.6rem;
    padding: 0.5rem;
    width: 80%;
}
.btn {
    border: none;
    border-radius: 0.6rem;
    padding: 0.5rem;
    background-color: orange;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}
.btn:hover {
    background-color: white;
    color: black;
}
#addTodoButton{
    width: 19%;
}

.li-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin: 1rem 0;
    transition: all 0.3s;
}
  
.li-style:hover {
    background-color: #111;
}
.bg-success {
    margin: 0.5rem 0;
    padding: 0.5rem;
    color: black;
    background-color: #ddffdd;
    border-left: 6px solid #04aa6d;
}
.bg-danger {
    margin: 0.5rem 0;
    padding: 0.5rem;
    color: black;
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    .card {
        width: 90%;
        max-width: 80%;
    }
    .card-title {
        font-size: 2rem;
    }
    input, #addTodoButton {
        width: 100%;
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .card {
        width: 100%;
        max-width: 100%;
        padding: 0.5rem;
    }
    .card-title {
        font-size: 1.8rem;
    }
    .btn, input, #addTodoButton {
        padding: 0.4rem;
    }
}
